*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BBDFC5;
}
h1{
    background-color: #03B5AA;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.choice:hover{
    transition: 2s;
    background-color: #03B5AA;   
    cursor: pointer;
}
span{
    color: #081b31;
    font-size: 6.5rem;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: 2s;
}
span:hover{
    position: absolute;
    font-size: 7.3rem;
    transition: 3s;
}
.paper{
    font-size: 7rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score{
    margin-left: 10px;
     font-size: 4rem;
}
#computer-score{
    margin-left: 50px;
     font-size: 4rem;
}
.msg-container{
    margin-left: 35%;
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}